<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Produccion Redirect" stopProcessing="true">
                    <match url="^produccion$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://aplicacionph.dyndns.org/produccion/" redirectType="Found" />
                </rule>
                <rule name="Produccion" stopProcessing="true">
                    <match url="^produccion/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <serverVariables>
                        <set name="HTTP_IIS_CLIENT_ADDRESS" value="{REMOTE_ADDR}" replace="true" />
                    </serverVariables>
                    <action type="Rewrite" url="https://127.0.0.1:8093/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="^gantt/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://10.0.10.236:8092/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule3" stopProcessing="true">
                    <match url="^assets/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_REFERER}" pattern="/gantt/" />
                    </conditions>
                    <action type="Rewrite" url="https://10.0.10.236:8092/assets/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule4" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://10.0.10.236:8092/api/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule5" stopProcessing="true">
                    <match url="^logo_white\.png$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://10.0.10.236:8092/logo_white.png" />
                </rule>
                <rule name="ReverseProxyInboundRule6" stopProcessing="true">
                    <match url="^favicon\.ico$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://10.0.10.236:8092/favicon.ico" />
                </rule>
                <rule name="EETT Redirect" stopProcessing="true">
                    <match url="^eett$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="https://aplicacionph.dyndns.org/eett/" redirectType="Found" />
                </rule>
                <rule name="EETT" stopProcessing="true">
                    <match url="^eett/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://127.0.0.1:5000/" />
                </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://127.0.0.1:5000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
